body {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: medium;
    max-width: 1250px;
    margin: 40px auto;
    color: #222;
}

h1 {
    margin-bottom: 0.1em;
    margin-left: 20px;
}

h3 {
    margin-bottom: 0.1em;
    margin-left: 20px;
}

#anime-card h3 {
    margin-left: 15px;
    margin-bottom: 5px;
}

#anime-card h4 {
    margin-top: 0;
    margin-left: 15px;
}

p {
    color: #555;
    font-size: medium;
}

#chart {
    margin-top: 10px;
    margin-bottom: 40px;
}

#anime-card {
    display: none;
    background-color: #d5edf8;
    /* light blue-grey */
    border-radius: 10px;
    padding: 10px;
    width: 360px;
    max-height: 600px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#anime-desc {
    white-space: pre-wrap;
    /* wrap long descriptions */
    max-height: 150px;
    overflow-y: auto;
    padding-left: 15px;
}

#anime-img {
    width: 175px;
    height: 250px;
    display: block;
    margin: 0 auto 10px auto;
    margin-bottom: 30px;
    border-radius: 8px;
}